body {
  background-color: #5808BC;
  margin: 0;
}

h1, h2 {
  color: black;
  margin: 0;
  position: relative;
  top: 10%;
}

p {
  color: white;
  left: 5%;
  position: relative;
  font-size: large;
}

nav {
  overflow: hidden;
  position: fixed;
  top: 0; 
  right: 0; 
  width: 25%; 
}

nav ul {
  background: linear-gradient(to right, #AEA7F1, #8DDB53, #FD3754);
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  background-color: black;
  z-index: 10;
  list-style: none; 
}

nav ul li {
  width: 100%;
}

nav ul li a {
  color: black;
  display: block;
  padding: 15px 10px;
  text-align: center;
  font-size: 1.2em;
  text-decoration: none;
}

nav ul li a:hover {
  color: green;
  background-color: black;
}

.audioWave {
  font-family: 'Audiowide', sans-serif;
}

div {
  padding: 10% 10%;
}

footer {
  width: 50%;
  border-style: dashed;
  border-top-color: #8DDB53;
  border-left-color: #AEA7F1;
  border-bottom-color: #FD3754;
  border-right-color: #AEA7F1;
}

a {
  color: #AEA7F1;
}

.center {
  text-align: center;
}
