/* Reset some default styles */
HTML, body, p {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: "Courier New", monospace;
  font-size: 16px;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

/* Navigation bar styles */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(110deg, #F27B35, #F272D0, #F25C78);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

nav ul li {
  float: left;
  width: 33.33%;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 20px 40px;
  color: white;
  font-size: 20px;
  font-family: 'Young Serif', serif;
}

nav li a:hover {
  background-color: white;
  color: black;
}

/* Page content styles */
#main {
  padding: 10% 20%;
  background-color: white;
}

#footer {
  clear: left;
  background: linear-gradient(110deg, #F27B35, #F272D0, #F25C78);
  font-size: 20px;
  padding: 5%;
  color: white;
  font-family: 'Young Serif', serif;
}

hr {
  border: 5px solid black;
}

/* Button styles */
#button {
  background: black;
  font-family: 'Young Serif', serif;
  font-size: 20px;
  width: 30%;
  margin: 5% auto;
  border: 0;
}

#button a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}

#button a:hover {
  background-color: white;
  color: black;
  border: 0;
}

/* Image and iframe styles */
.img, iframe {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  position: static;
  border: 0;
}

/* Main content and text alignment styles */
#main {
  float: left;
  width: 45%;
  border-radius: 50%;
  margin: 5%;
}

.text {
  float: right;
  width: 50%;
  margin: 0;
}

/* Spacing styles */
.spacing {
  margin-bottom: 3%;
  margin-top: 3%;
}

/* Clear floats */
#wrap {
  clear: both;
}

/* Headings styles */
h1, h2, h3 {
  font-family: 'Young Serif', serif;
  font-size: 40px;
  line-height: 170%;
}
