/* Reset some default styles */
html, body, p {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: "Courier New", monospace;
  font-size: 16px;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

/* Smaller and Futuristic Navigation Bar Styles */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(110deg, #0D224B, #031A38); /* Change to your preferred futuristic colors */
  width: 100%;
  height: 40px; /* Adjust the height as needed */
  position: fixed;
  top: 0;
  left: 0;
}

nav ul li {
  float: left;
  width: 33.33%;
}

nav ul li a {
  display: block;
  text-align: center;
  padding: 10px 0; /* Reduce vertical padding */
  color: white;
  font-size: 16px; /* Smaller font size */
  font-family: 'Arial', sans-serif; /* A more modern font */
}

nav li a:hover {
  background-color: #05A0E5; /* Change to your preferred hover color */
  color: white;
}

/* Add a subtle border to the navigation bar */
nav ul::after {
  content: "";
  clear: both;
  display: table;
}

/* Create a futuristic border at the bottom of the navigation bar */
nav ul::before {
  content: "";
  height: 2px; /* Adjust the border thickness as needed */
  background-color: #05A0E5; /* Border color */
  display: block;
}

/* Page content styles */
#main {
  padding: 10% 20%;
  background-color: white;
}

#footer {
  clear: left;
  background: linear-gradient(110deg, #F27B35, #F272D0, #F25C78);
  font-size: 20px;
  padding: 5%;
  color: white;
  font-family: 'Young Serif', serif;
}

hr {
  border: 5px solid black;
}

/* Image and iframe styles */
.img, iframe {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  position: static;
  border: 0;
}

/* Main content and text alignment styles */
#main {
  float: left;
  width: 45%;
  border-radius: 50%;
  margin: 5%;
}

.text {
  float: right;
  width: 50%;
  margin: 0;
}

/* Spacing styles */
.spacing {
  margin-bottom: 3%;
  margin-top: 3%;
}

/* Clear floats */
#wrap {
  clear: both;
}

/* Headings styles */
h1, h2, h3 {
  font-family: 'Young Serif', serif;
  font-size: 40px;
  line-height: 170%;
}
